


<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>


<html>
  <body>
   <div>
   app.get('/Main', (req, res) => {
    res.render('Mainset');
   });
   
   
      <ul style="color:white; float: right;" class="nav navbar-nav">
            <li><a href="/Main">Login  </a> </li>
            

        </ul>
   </div>
 </body>
</html>