
<h1 class="mt-4">Dashboard HOME</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<script>

 app.get('/Main', (req, res) => {
    res.render('Mainset');
   });
   </script>

<html>
  <body>
   <div>
   
   
      <ul style="color:white; float: right;" class="nav navbar-nav">
            <li><a href="./build/index.html">Login  </a> </li>
            

        </ul>
   </div>
 </body>
</html>