<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<a class="btn btn-dark btn-sm" href="/Main" >Link to some EJS File</a>